@page "/"

@inject IJSRuntime JSRuntime



<h1>Display Google Map</h1>


@code {
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await JSRuntime.InvokeVoidAsync("initialize", null);
    //        StateHasChanged();
    //    }


    //}

}